$color-black: #000;
$color-white: #FFF;
$color-gray: #E5E5E5;


$color-gunmetal: #283645;
$color-slate-gray: #73879C;
$color-paynes-gray: #506A85;
$color-sea-green: #1ABB9C;
$color-pale-turquoise: #AAF2E4;