$grid-pad: 40px;
$col-pad: 20px;


.grid {
  margin: $grid-pad 0;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $col-pad;
  padding-left: $col-pad;

  .grid &:last-of-type {
    //padding-right: 0;
  }
}

.col-2-3, .col-1-3, .col-1-2, .col-4-10 {
  width: 100%;
}



@include breakpoint(sm) {

  .col-2-3, .col-1-3 {
    width: 50%;
  }
  .col-1-2 {
    width: 50%;
    padding-right: 0;
  } 

  .col-4-10 {
    width: 40%;
    margin-left: 10%;
    padding-right: 0;
  }

  .col-1-2, .col-4-10 {
    margin-bottom: 40px;
  }

}

@include breakpoint(md) {

  .col-2-3 {
    width: 66.66%;
  }

  .col-1-3 {
    width: 33.33%;
  } 


}