$header-height: 100px;
$container-width: 1200px;
$screen-height: calc(100vh - 100px);
$page-padding: 60px;

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
}

.content {
	margin-top: $header-height;
 	min-height: $screen-height;
	background-color: $color-gray;
	padding: 20px 0 $page-padding;
 	
 	@include breakpoint(sm) {
		padding: $page-padding 0;
 	}
}

.container { 
 	max-width: $container-width;
 	margin: 0 auto;
 	padding: 0;
 	text-align: center;
}


/* 
 * tablet & desktop
 */

@include breakpoint(sm) {

	.container {
		text-align: left;
 		padding: 0 40px;
	}

}