* {
  box-sizing: border-box;
}

$pad: 20px;

.grid {
  margin: 0 0 $pad 0;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: 10px;
  padding-left: 10px;

  .grid &:last-of-type {
    //padding-right: 0;
  }
}

.col-2-3, .col-1-3, .col-1-2, .col-4-10 {
  width: 100%;
}


@media screen and (min-width: $breakpoint-s){

  .col-2-3, .col-1-3 {
    width: 50%;
  }
  .col-1-2 {
    width: 50%;
    padding-right: 0;
  } 

  .col-4-10 {
    width: 40%;
    margin-left: 10%;
    padding-right: 0;
  }

  .col-1-2, .col-4-10 {
    margin-bottom: 40px;
  }

}

@media screen and (min-width: $breakpoint-m){

  .col-2-3 {
    width: 66.66%;
  }

  .col-1-3 {
    width: 33.33%;
  } 


}